You are syncing from {{masterStore}}.
<br />
Which store would you like to sync to?
<br />
{{#otherStores}}
    <a href="/sync/{{../masterStore}}/to/{{this}}">{{this}}</a>
    <br />
{{/otherStores}}
