<h1>Upload CSV file</h1>
<form method="POST" action="/sync/upload" enctype="multipart/form-data">
    <input id="fileSelect" name="update" type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
    <input type="submit"/>
</form>