<ul>
    <li>
        <a href="/" >Home</a>
    </li>
    <li>
        <a href="/connections/all" >View all webhooks</a>
    </li>
    <li>
        <a href="/db/webhooks">View data from webhooks table</a>
    </li>
    <li>
        <a href="/sync">Begin store sync</a>
    </li>
     <li>
        <a href="/sync/upload">Upload CSV file</a>
    </li>
</ul>